.box{
    background-color:#209F62 ;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
    color: #FFFFFF;
}
.container-fluid{
    margin-top: 300px;
    /* padding-left: 100px; */
}
.row{
    justify-content: center;
}